body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th
{
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  color: black;
}

td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
}

input {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  width: fit-content;
  padding: 8px 14px;
  cursor: pointer;
}

tbody tr:nth-child(1):hover td {
  background-color: #8ACE00;
}

tbody tr:nth-child(2):hover td {
  background-color: hwb(314 11% 3%);
}

tbody tr:nth-child(3):hover td {
  background-color: hwb(202 22% 5%);
}